body{background-image:url(giphy.gif);}
body{background-repeat: no-repeat;}
body{background-size: cover;}
body{text-align: center;}
h1{color: rgb(255, 215, 000);}
h1{font-size: xxx-large;}
h1{font-family: cursive;}
video{border-radius: 5%;}
footer{color: rgb(255,215, 0);}
footer{font-size: xx-large;}







